* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
header div {
    text-align: center;
}
/* start of header */
header img {
    height: 75px;
    margin: 20px 0 60px 0;

}
/* end of header */
/* start of section */
section {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    text-align: left;
}
form, footer {
    background-color: #ffffff;
}
form {
    width: 630px;
    box-shadow: 0 10px 20px #5f5f5f4d;
    padding: 0 32px;
    margin-bottom: 130px;
    font-weight: 500;
}
h3 {
    padding: 35px 0 25px 0;
    color: #071b6c;
    font-size: 18px;
}
.payment-details {
    padding: 15px 0 25px 0;
}
label {
    font-size: 10px;
    padding: 300px 0 ;
    margin-bottom: 5px;
    font-weight: 500;
}
input {
    height: 44px;
    width: 565px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}
.float-left {
    float: left;
}
.float-left input, .float-right input{
    width: 270px;
}
.float-right {
    float: right;
}
.clear-fix {
    clear: both;
}

form p {
    color: #9a1e14;
    margin-top: 5px;
    font-size: 10px;
}

.float-left p, .not-float {
    margin-bottom: 20px;
}
/* start of input field */
input[type="button"]{
    background-color: #071b6c;
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 14px;
}

input[type="button"]:hover {
    cursor: pointer;
}
/* end of input field */
/* end of section */

.footer {
    height: 35px;
}
.inputStyle{
    border-color: #9a1e14;
}
.resultStyle{
    border-color: #d4d4d4;
}